<nav class="navbar navbar-dark bg-light">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link active" href="#" (click)="displayContracts()">Contracts</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#" (click)="displayChannels()">Channels</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#" (click)="displayOracles()">Oracles</a>
    </li>
  </ul>
</nav>
<div class="container-fluid">
  <h5>{{ title | uppercase }}</h5>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th *ngFor="let h of headers;" scope="col">{{ h }}</th>
      </tr>
    </thead>
    <tbody *ngIf="title == 'contracts'">
      <tr *ngFor="let item of data; index as i">
        <td>{{ i+1 }}</td>
        <td> {{ item.block_height }} </td>
        <td> {{ item.contract_id }} </td>
        <td>{{  item.transaction_hash }} </td>
      </tr>
    </tbody>
    <tbody *ngIf="title == 'channels'">
      <tr *ngFor="let item of data; index as i">
        <td>{{ i+1 }}</td>
        <td> {{ item }} </td>
      </tr>
    </tbody>
    <tbody *ngIf="title == 'oracles'">
      <tr *ngFor="let item of data; index as i">
        <td>{{ i+1 }}</td>
        <td> {{ item.query_id }} </td>
        <td style="white-space:pre-wrap"> {{ item.request | json }} </td>
        <td style="white-space:pre-wrap"> {{ item.response | json }} </td>
      </tr>
    </tbody>
  </table>
</div>
